name: Create K8s Secret in Existing EKS

on:
  workflow_dispatch:

jobs:
  create-secret:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: latest

      - name: Connect to EKS cluster
        run: |
          aws eks update-kubeconfig \
            --name my-eks \
            --region ${{ vars.AWS_REGION }}

      - name: Create Kubernetes Secret from literals
        run: |
          kubectl create secret generic awssm-secret \
            --from-literal=aws_access_key_id=${{ secrets.AWS_READER_ID }} \
            --from-literal=aws_secret_access_key=${{ secrets.AWS_READER_KEY }} \
            --dry-run=client -o yaml | kubectl apply -f -
